<template>
  <div>
    <h1>ログイン</h1>

    <form @submit.prevent="login()">
      <div>
        <label for="email">メールアドレス</label>
        <input type="text" name="email" id="email" v-model="auth.email" v-validate="'required'">
        <span v-if="errors.has('email')">{{errors.first('email')}}</span>
      </div>
      <div>
        <label for="password">パスワード</label>
        <input type="password" name="password" id="password" v-model="auth.password" v-validate="'required'">
        <span v-if="errors.has('password')">{{errors.first('password')}}</span>
      </div>

      <div v-if="loginError" id="login-error">
        ログインに失敗したよ
      </div>

      <button type="submit" id="login" @click.prevent="login()">ログイン</button>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Auth from '../model/Auth';
import { login } from '@/client/AuthClient';

@Component
export default class LoginComponent extends Vue {
  auth: Auth = new Auth();
  loginError: boolean = false;

  login() {
    this.loginError = false;
    this.$validator.validate()
      .then(result => {
        if (result) {
          login(this.auth)
            .then((response) => {
              this.$router.push(`/contracts/${response.data.relatedGroupIds[0]}/models`);
            })
            .catch(() => {
              this.loginError = true;
            });
        } else {
          return;
        }
      });
  }
}
</script>

<style scoped>

</style>
