<template>
  <div>{{format()}}</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Model from '@/model/Model';

@Component
export default class ModelComponent extends Vue {

  @Prop(Model) readonly model!: Model

  format(): string {
    return `${this.model.id}:${this.model.name}`
  }

}
</script>

<style scoped>

</style>
