<template>
  <div>
    <h1 id="contract-id">{{$route.params.contractId}}</h1>

    <model v-for="model in modelList" v-key="model.id" :model="model">
    </model>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { simplifiedRoot } from '@/client/ModelsClient';
import ModelComponent from './ModelComponent.vue';
import Model from '@/model/Model';

@Component({
  components: {
    model: ModelComponent
  }
})
export default class ModelListComponent extends Vue {

  modelList: Model[] = [];

  created() {
    simplifiedRoot()
      .then((response) => {
        const products = response.data.groups[0].products;
        products.forEach((product) => {
          console.log(product)
          this.modelList.push(new Model(product.productId, product.name));
        });
      })
      .catch((error) => {
        console.log(error)
      });
  }
}
</script>

